$box-shadow-bottom-only: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
$dark-gray: #333;
$light-gray: #eee;
$accent-coral: #f25a4c;

.assigned-icon {
  width: 20px;
  height: 20px;
}

.col-title {
  font-style: bold;
  font-color: #f25a4c;
}

div.container-fluid {


  font-family: 'Karla', sans-serif;
  color: $dark-gray;
  width: 100%;
  box-shadow: $box-shadow-bottom-only;


  .home-icon {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  span {
    font-size: 1em;
  }

  .hidden {
    display: none;
  }

  .center {
    text-align: center;
  }

  .icon {
    padding: 0;
  }

  div.title {
    background: $light-gray;
  }
  div.header {
        padding: 10px 0 10px;
        // background-color: #ddd;
        border-bottom: solid 2px $dark-gray;
        span {
          font-weight: bold;
        }
    }

  div.all-tasks {
    background-color: #fff;

    #new-task, #seed-task, .task-row {
    padding: 10px 0 10px;
    border-bottom: solid 1px $light-gray;
      input {
          width: 80%;
      }
    }

  }
  .btn-info {
    width: 100%;
  }

}
